.base-flex {
  display: flex;

  .base-flex-box {
    width: 1vw;
    flex: auto;
  }
}

//块内居中
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

//自动换行
.flex-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

//左右分隔
.flex-between {
  display: flex;
  justify-content: space-between;
}

//从上到下排列
.flex-column {
  display: flex;
  flex-direction: column;
}
